<div class="container pt-5">
    <div *ngIf="course" class="row">
        <div *ngIf="sideBarVisible" class="{{sidebarWidth}} menu sticky">
           <button class="btn btn-transparent" (click)="hideSidebar()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon-background"
                        d="M17.3023 0H6.69767C2.99865 0 0 2.99865 0 6.69767V17.3023C0 21.0014 2.99865 24 6.69767 24H17.3023C21.0014 24 24 21.0014 24 17.3023V6.69767C24 2.99865 21.0014 0 17.3023 0Z" 
                        />
                    <path class="icon-content"
                        d="M6.13965 7.81348H18.1396" />
                    <path class="icon-content"
                        d="M6.13965 12.2793H18.1396"/>
                    <path class="icon-content"
                        d="M6.13965 16.7441H18.1396" />
                </svg>
                <span *ngIf="sideBarVisible" class="ms-2 align-bottom text-center">Hide Content</span>
            </button>
            <hr class="dropdown-divider">
            <h4 class="fw-bold text-center">{{course.post.title}}</h4>
            <hr class="dropdown-divider">
            <!-- Enroll button -->
            <button *ngIf="course.courseEnrollments.length === 0"
                class="btn btn-white shadow p-4" 
                id="createNewBtn" 
                [routerLink]="['/upsert-post']" >
                <img src="assets/svg/ic_sign_document.svg">
                <span class="ms-3 align-middle h4" style="font-weight: bolder;">Enroll</span>
            </button>
            <!-- Circle progress -->
            <div
                *ngIf="course.courseEnrollments.length !== 0"
                class="d-flex justify-content-center">
                <circle-progress
                    [percent]="course.courseEnrollments[0].progress"
                    [radius]="60"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#1976D2'"
                    [animation]="true"
                    [animationDuration]="300"
                    [titleColor]="'#1976D2'"
                    [subtitleColor]="'#1976D2'"
                    [unitsColor]="'#1976D2'"
                ></circle-progress>
            </div>
            <hr class="dropdown-divider">
            <div class="sidecontentsum mt-3">
                <app-accordion>
                    <app-accordion-item title="Table Of Content">
                        <div class="scrollable-content">
                            <toc [contentIn]="course.post.content" (contentOut)="updateContent($event)"></toc>
                        </div>
                    </app-accordion-item>
                </app-accordion>
            </div>
            <div class="sidecontentsum">
                <app-accordion>
                    <app-accordion-item title="Course Content">
                        <course-content [sections]="course.sections"></course-content>
                    </app-accordion-item>
                </app-accordion>
            </div>
        </div>
        <div *ngIf="!sideBarVisible" class="{{sidebarWidth}} menu sticky">
           <button class="btn btn-transparent" (click)="hideSidebar()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon-background"
                        d="M17.3023 0H6.69767C2.99865 0 0 2.99865 0 6.69767V17.3023C0 21.0014 2.99865 24 6.69767 24H17.3023C21.0014 24 24 21.0014 24 17.3023V6.69767C24 2.99865 21.0014 0 17.3023 0Z" 
                        />
                    <path class="icon-content"
                        d="M6.13965 7.81348H18.1396" />
                    <path class="icon-content"
                        d="M6.13965 12.2793H18.1396"/>
                    <path class="icon-content"
                        d="M6.13965 16.7441H18.1396" />
                </svg>
                <span *ngIf="sideBarVisible" class="ms-2 align-bottom text-center">Hide Content</span>
            </button>
        </div>
        <div class="{{conetentWidth}}">
            <app-post [post]="course.post"></app-post>
        </div>
    </div>
</div>