<div class="container pt-5">
    <div *ngIf="course" class="row">
        <div *ngIf="sideBarVisible" class="{{sidebarWidth}} menu sticky">
           <button class="btn btn-transparent" (click)="hideSidebar()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon-background"
                        d="M17.3023 0H6.69767C2.99865 0 0 2.99865 0 6.69767V17.3023C0 21.0014 2.99865 24 6.69767 24H17.3023C21.0014 24 24 21.0014 24 17.3023V6.69767C24 2.99865 21.0014 0 17.3023 0Z" 
                        />
                    <path class="icon-content"
                        d="M6.13965 7.81348H18.1396" />
                    <path class="icon-content"
                        d="M6.13965 12.2793H18.1396"/>
                    <path class="icon-content"
                        d="M6.13965 16.7441H18.1396" />
                </svg>
                <span *ngIf="sideBarVisible" class="ms-2 align-bottom text-center">Hide Content</span>
            </button>
            <hr class="dropdown-divider">
            <a (click)="redirectTo(course.post.meta?.slug)" routerLink='{{course.post.meta?.slug}}'>
                <h4 class="fw-bold text-center">{{course.post.title}}</h4>
            </a>
            <div 
                *ngIf="(accountService.currentUser$ | async) && !(accountService.currentUser$ | async).subscription" 
                class="innerdiv text-center mt-3 mb-3">
                <hr class="dropdown-divider">
                <span>The course is available for</span>
                <br>
                <span class="fw-bold">Professional</span>
                <br>
                <span>users.</span>
                <br>
                <button 
                    class="btn btn-white w-75 shadow p-4"
                    id="createNewBtn"
                    routerLink='/pricing' >
                    <span class="align-middle h4" style="font-weight: bolder;">Pricing</span>
                </button>
            </div>
            <div 
                *ngIf="(accountService.currentUser$ | async) && ((accountService.currentUser$ | async).subscription) as subscription" 
                class="mt-3 mb-3">
                <div class="innerdiv text-center" *ngIf="subscription.membershipType !== 'Professional'">
                    <span>The course is available for</span>
                    <br>
                    <span class="fw-bold">Professional</span>
                    <br>
                    <span>users.</span>
                    <br>
                    <button 
                        class="btn btn-white w-75 shadow p-4"
                        id="createNewBtn"
                        routerLink='/pricing' >
                        <span class="align-middle h4" style="font-weight: bolder;">Pricing</span>
                    </button>
                </div>
            </div>
            <div *ngIf="!(accountService.currentUser$ | async)" class="innerdiv text-center mt-3 mb-3">
                <span>The course is available for</span>
                <br>
                <span class="fw-bold">Professional</span>
                <br>
                <span>users.</span>
                <br>
            </div>
            <!-- Circle progress -->
            <div
                *ngIf="course.courseEnrollments.length !== 0"
                class="d-flex justify-content-center">
                <circle-progress
                    [percent]="course.courseEnrollments[0].progress"
                    [radius]="60"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#1976D2'"
                    [animation]="true"
                    [animationDuration]="300"
                    [titleColor]="'#1976D2'"
                    [subtitleColor]="'#1976D2'"
                    [unitsColor]="'#1976D2'"
                ></circle-progress>
            </div>
            <hr class="dropdown-divider">
            <div class="sidecontentsum mt-3">
                <app-accordion>
                    <app-accordion-item title="Table Of Content">
                        <div class="scrollable-content">
                            <toc [contentIn]="openedPost.content" (contentOut)="updateContent($event)"></toc>
                        </div>
                    </app-accordion-item>
                </app-accordion>
            </div>
            <div class="sidecontentsum">
                <app-accordion>
                    <app-accordion-item title="Course Content">
                        <course-content [course]="course" (courseCompletionRate)="updateCourseProgress($event)"></course-content>
                    </app-accordion-item>
                </app-accordion>
            </div>
            <div *ngIf="openedPost.sourceCodeUrl" class="innerdiv mt-5">
                <source-code [sourceCode]="openedPost.sourceCodeUrl"></source-code>
            </div>
        </div>
        <div *ngIf="!sideBarVisible" class="{{sidebarWidth}} menu sticky">
           <button class="btn btn-transparent" (click)="hideSidebar()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon-background"
                        d="M17.3023 0H6.69767C2.99865 0 0 2.99865 0 6.69767V17.3023C0 21.0014 2.99865 24 6.69767 24H17.3023C21.0014 24 24 21.0014 24 17.3023V6.69767C24 2.99865 21.0014 0 17.3023 0Z" 
                        />
                    <path class="icon-content"
                        d="M6.13965 7.81348H18.1396" />
                    <path class="icon-content"
                        d="M6.13965 12.2793H18.1396"/>
                    <path class="icon-content"
                        d="M6.13965 16.7441H18.1396" />
                </svg>
                <span *ngIf="sideBarVisible" class="ms-2 align-bottom text-center">Hide Content</span>
            </button>
        </div>
        <div class="{{conetentWidth}}">
            <app-post [post]="openedPost"></app-post>
        </div>
    </div>
</div>