html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.min-100 {
  min-height: 100vh;
}

.main {
    background: var(--background);
    color: var(--on-background);
    transition: all 0.3s linear;
}
.menu {
  padding-left: 25px;
  padding-right: 25px;
  color: var(--on-primary);
  transition: all 0.3s linear;
  border-radius: 6px;
}
.innerdiv {
  padding: 25px;
  text-align: left;
  position: relative;
  background: var(--primary);
  color: var(--on-primary);
  transition: all 0.3s linear;
  border-radius: 6px;
}
.modaldiv {
  text-align: left;
  position: relative;
  background: var(--primary);
  color: var(--on-primary);
  transition: all 0.3s linear;
}
.modaldiv button {
  color: var(--on-primary);
}
.modaldiv .btn-default:hover {
  color: #1976D2 !important;
}
.navbar-bg {
  background-color: #1976D2;
}
nav .navbar-nav li a{
  color: white !important;
}
nav .navbar-nav li ul a{
  color: var(--on-primary) !important;
}
nav .navbar-nav li ul a:focus, nav .navbar-nav li ul a:hover{
  background: var(--background);
}
nav .navbar-nav li div{
  color: white !important;
  cursor: pointer;
}
nav .navbar-nav li ul div{
  color: var(--on-primary) !important;
  cursor: pointer;
}
nav .navbar-nav li ul div:focus, nav .navbar-nav li ul div:hover{
  background: var(--background);
}
.nav-dropdown-menu {
  background: var(--primary);
}

button {
  margin-top: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 11px;
  margin: 0 5px;
}
.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0070;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.overlapping-img {
  display:inline-block;
  position:relative;
}
.overlapping-img img {
  position:absolute;
  top:50%;
  right:7px;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
}
.overlapping-img input {
  padding-right:40px !Important;
  width:250px !Important;
}
.overlapping-img textarea{
  padding-right:40px;
  min-height:30px;
}


body .bs-datepicker-container .bs-datepicker-head {
  background-color: #1976D2 !important;
  color: white !important;
  height: 4rem;
}
.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color: #1976D2 !important;
}

.rounded-img-small {
  max-height: 30px;
  border-radius: 50%;
}

.rounded-img-medium {
  max-height: 50px;
  border-radius: 50%;
}


/* Buttons */
.btn-primary {
  background-color: #42A5F5;
  border-color: #42A5F5;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #1976D2;
  border-color: #1976D2;
  font-weight: bold;
}

.btn-transparent {
  border: transparent;
  background-color: transparent;
  color: var(--on-background);
  font-weight: bold;
}

.btn-transparent:hover {
  color: #1976D2 !important;
}

.btn-white {
  background-color: white;
}
.btn-white:hover {
  background-color: #E7E7E7;
}

#createNewBtn {
  background-color: #42A5F5;
  color: white;
  margin-bottom: 24px;
  width: 100%;
}
#createNewBtn:hover {
  background-color: #1976D2;
}


.align-right {
  margin-left: auto; 
  margin-right: 0;
}
.align-center {
  margin-left: auto; 
  margin-right: 0;
}







.dropdown-menu{
  background: var(--primary);
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
}

#sub-dropdown-menu{
  display: none;
  position:absolute;
  margin-left: 130px;
  color: #1976D2;
}

#sub-dropdown-menu a , .dropdown-menu a {
	color: var(--on-background);
  color: #1976D2;
}

.dropdown .dropdown-menu {
  color: var(--on-primary);
}
.row-item:hover {
  color: #1976D2;
}

.dropdown .dropdown-menu a:hover {
  background-color: var(--background);
}


#sub-dropdown:hover #sub-dropdown-menu {
  display: block;
}


.btn-outline-secondary {
  background-color: white;
  margin-top: 0px;
}

.font-small {
  font-size: smaller;
}


#svg {
  fill: #1976D2; 
  color: orange;
  background-color: orange;
}
#svg:hover {
  fill: #1976D2; 
  color: #1976D2;
  background-color: #1976D2;
}

.icon {
  fill: #FF9900;
  color: #1976D2;
  background-color: #1976D2;
}

img svg {
  fill: #1976D2; 
  color: orange;
  background-color: orange;
}

.chip {  
  margin: 5px;  
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;  
  border: 2px solid var(--on-primary);
  width: max-content;
  display: inline-block;
}

input {
  border-radius: 3px !important;
}


