<table class="table innerdiv">
    <thead>
        <tr>
            <th>Title</th>
            <th *ngIf="postType === postTypes.Lecture">Course</th>
            <th>Status</th>
            <th>Date</th>
            <th>Category</th>
            <th>Tags</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of contentList"
            upsert-content-list-item
            [item]="item" [postType]="postType">
        </tr>
    </tbody>
</table>