API/bin/
EmailService/obj/
API/obj/
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
EmailService/obj/EmailService.csproj.nuget.dgspec.json
API/obj/Debug/net6.0/API.assets.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/EmailService.dll
API/bin/Debug/net6.0/EmailService.pdb
API/bin/Debug/net6.0/ref/API.dll
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net6.0/API.dll
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.genruntimeconfig.cache
API/obj/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/ref/API.dll
EmailService/bin/Debug/netcoreapp3.1/EmailService.dll
EmailService/bin/Debug/netcoreapp3.1/EmailService.pdb
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/EmailService.csproj.nuget.g.props
EmailService/obj/project.assets.json
EmailService/obj/project.nuget.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.csproj.CoreCompileInputs.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.dll
EmailService/obj/Debug/netcoreapp3.1/EmailService.GeneratedMSBuildEditorConfig.editorconfig
EmailService/obj/Debug/netcoreapp3.1/EmailService.pdb
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/EmailService.dll
API/bin/Debug/net6.0/EmailService.pdb
API/bin/Debug/net6.0/ref/API.dll
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
API/obj/Debug/net6.0/API.assets.cache
