input[type='checkbox']:checked {
    background-color: #198754;
    border-color: #198754;
}

.green-text {
    color: #198754;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: green;
}