<div class="scrollable-content">
    <app-accordion-item 
      *ngFor="let section of course.sections; index as sectionIndex" 
      title="{{section.title}} ({{section.lectures.length}})">
        <div class="d-flex flex-row mb-3" *ngFor="let lecture of section.lectures; index as lectureIndex">
            <div class="form-check">
              <label *ngIf="currentUser === undefined"
                class="form-check-label" 
                for="flexCheckChecked">
                {{lecture.post.title}}
              </label>
              <div *ngIf="currentUser !== undefined">
                <input
                  id="{{lectureIndex}}"
                  class="form-check-input ms-1" 
                  type="checkbox" 
                  [checked]="lecture.lectureActivities.length > 0 && lecture.lectureActivities[0].isCompleted"
                  (change)="handleClick(sectionIndex, $event)" >
                <a (click)="redirectTo(course.post.meta?.slug, lecture.post.meta?.slug)"
                  routerLink='course/{{course.post.meta?.slug}}/lecture/{{lecture.post.meta?.slug}}'>
                  <span *ngIf="lecture.lectureActivities.length === 0 || !lecture.lectureActivities[0].isCompleted"
                    class="form-check-label w-85 ms-2 text-wrap" 
                    for="flexCheckChecked">
                    {{lecture.post.title}}
                  </span>
                  <span *ngIf="lecture.lectureActivities.length > 0 && lecture.lectureActivities[0].isCompleted"
                    class="form-check-label green-text w-85 ms-2 text-wrap" 
                    for="flexCheckChecked">
                    {{lecture.post.title}}
                  </span>
                </a>
              </div>
            </div>
        </div>
    </app-accordion-item>
</div>