<div class="form-group mb-3">
    <div class="font-small">
        <div *ngIf="selectedCategory.length > 0">
            <div *ngFor="let category of selectedCategory; let last = last" style="display: inline;">
                <span *ngIf="last">
                    {{category.text}}<span *ngIf="!last"> > </span> 
                </span>
                <span *ngIf="!last" class="text-muted">
                    {{category.text}}<span *ngIf="!last"> > </span> 
                </span>
            </div>
            <a *ngIf="selectedCategory.length > 0" style="cursor: pointer;" (click)="onRemoveCategories()">
                <img src="assets/svg/ic_trash.svg" alt="Remove categories">
            </a>
        </div>
    </div>
    <ngx-dropdown-treeview-select [items]="categories" [(value)]="value" (valueChange)="onCategoryValueChange($event)">
    </ngx-dropdown-treeview-select>
    <div *ngIf="ngControl.control?.errors?.required" class="invalid-feedback d-block">
        Please select a category!
    </div>
</div>