<div app-theme class="modaldiv rounded">
    <div class="modal-header">
        <div>
            <h4 class="modal-title pull-left">Update Password</h4>
        </div>
        <img
            class="me-1" style="cursor: pointer;"
            (click)="bsModalRef.hide()"
            src="assets/svg/ic_close.svg" 
            alt="Programming with Peter">
    </div>
    <div class="modal-body">
        <form [formGroup]='updatePasswordForm' (ngSubmit)="updatePasswordForm.valid" autocomplete="off">
            <div class="mb-5">
                <app-text-input
                    [formControl]='updatePasswordForm.controls["currentPassword"]' [label]='"Current Password"' [type]='"password"'>
                </app-text-input>
            </div>
            <app-text-input
                [formControl]='updatePasswordForm.controls["newPassword"]' [label]='"New Password"' [type]='"password"'>
            </app-text-input>
            <app-text-input
                [formControl]='updatePasswordForm.controls["confirmNewPassword"]' [label]='"Confirm New Password"' [type]='"password"'>
            </app-text-input>
                
            <div class="d-grid col-6 mx-auto">
                <button 
                    class="btn btn-primary" 
                    [disabled]="!updatePasswordForm.valid"
                    (click)='onSubmit()'>
                    Update Password
                </button>
            </div>
        </form>
    </div>
</div>