<div app-theme class="d-grid col-4 mx-auto">
    <h1>Reset Password</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
        </div>
        
        <form 
            [formGroup]='resetPasswordForm' 
            (ngSubmit)="resetPasswordForm.valid" 
            autocomplete="off" 
            *ngIf="!showSuccess">
            
            <app-text-input
                [formControl]='resetPasswordForm.controls["password"]' 
                [label]='"Password"' 
                [type]='"password"'>
            </app-text-input>
            <app-text-input
                [formControl]='resetPasswordForm.controls["confirmPassword"]' 
                [label]='"Confirm Password"' 
                [type]='"password"'>
            </app-text-input>

            <div *ngIf="!result" class="d-grid col-6 mx-auto">
                <button 
                    class="btn btn-primary" 
                    *ngIf="!loading" 
                    [disabled]='!resetPasswordForm.valid' 
                    (click)='resetPassword()'>
                    Reset Password
                </button>
            </div>
        </form>
</div>