<div class="container pt-5">
    <div class="row">
        <div class="col-3 menu">
            <h3 class="fw-bold">Category's list</h3>
            <hr class="dropdown-divider">
            <h4>Filter</h4>
            <div class="innerdiv">
                <form [formGroup]='filterForm' (ngSubmit)="filter()" autocomplete="off">
                    <!-- Name -->
                    <span class="fw-bold">Name</span>
                    <input type="text" class="form-control mb-2" [formControl]='filterForm.controls["name"]'>
                    <hr class="bg-secondary mt-4 mb-4">
    
                    <div class="d-grid col-7 align-right">
                        <button class="btn btn-primary" type="submit">Apply Filters</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-9 innerdiv">
            <div class="row">
                <div class="column">
                    <category-browser
                        (lastSelectedCategory)="setLastSelectedCategory($event)"
                        (editCategory)="onEditCategory($event)">
                    </category-browser>
                    <div class="mt-5 text-center">
                        <button 
                            class="btn btn-white shadow w-50"
                            id="createNewBtn"
                            (click)="onCreateCategory()" >
                            <img src="assets/svg/ic_pen_filled.svg">
                            <span class="ms-3 fw-bold fw-small">Create New</span>
                        </button>
                    </div>
                </div>
                <div class="column border-start border-5">
                    <upsert-category 
                        *ngIf="upsertCategory" 
                        [parentCategory]="lastSelectedCategory"
                        [editCategory]="editCategory"
                        [operationType]="operationType"
                        (cancel)="cancelUpsertWindow()">
                    </upsert-category>
                </div>
            </div>
        </div>
    </div>
</div>