<div class="container pt-5">
    <div class="row">
        <div class="col-3 menu">
            <h3 class="fw-bold">Courses's list</h3>
            <hr class="dropdown-divider">
            <button 
                class="btn btn-white shadow" 
                id="createNewBtn"  >
                <img src="assets/svg/ic_pen_filled.svg">
                <span class="ms-3" style="font-weight: bolder;">Create New</span>
            </button>
            <hr class="dropdown-divider">
            <h4>Filter</h4>
            <div class="innerdiv">
                <form [formGroup]='filterForm' (ngSubmit)="filter()" autocomplete="off">
                    <!-- Name -->
                    <span class="fw-bold">Name</span>
                    <input type="text" class="form-control mb-2" [formControl]='filterForm.controls["name"]'>
                    <hr class="bg-secondary mt-4 mb-4">
    
                    <div class="d-grid col-7 align-right">
                        <button class="btn btn-primary" type="submit">Apply Filters</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-9 innerdiv">
            <div class="row">
                <div class="column">
                    <category-browser></category-browser>
                </div>
                <div class="column border-start border-5 d-flex">
                    Add or modify category
                </div>
              </div>
        </div>
    </div>
</div>