<div class="row">
    <div class="col-3 menu">
        <h3>Tutorial's list</h3>
        <hr class="dropdown-divider">
        <button class="btn btn-white shadow" id="createNewBtn" routerLink='/create-tutorial'>
            <img src="assets/svg/ic_pen_filled.svg">
            <span class="ms-3" style="font-weight: bolder;">Create New</span>
        </button>
        <hr class="dropdown-divider">
        <h4>Filter</h4>
        <div class="innerdiv">
            <form [formGroup]='filterForm' (ngSubmit)="filter()" autocomplete="off">
                <!-- Title -->
                <span class="fw-bold">Title</span>
                <input type="text" class="form-control mb-2" [formControl]='filterForm.controls["title"]'>
                <!-- Status -->
                <span class="fw-bold">Status</span>
                <select class="form-select mb-2">
                    <option value=""></option>
                    <option *ngFor="let state of statuses | keyvalue" [value]="state">
                        {{state.value}}
                    </option>
                </select>
                <!-- Category -->
                <span class="fw-bold">Category</span>
                <select class="form-select">
                    <option value=""></option>
                </select>
                <hr class="bg-secondary mt-4 mb-4">

                <div class="d-grid col-7 align-right">
                    <button class="btn btn-primary" type="submit">Apply Filters</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-9 innerdiv">
        <hr class="dropdown-divider">
    </div>
</div>