<div class="container">  
    <h3 class="text-center fw-bold pt-5">Review Selected Membership</h3>
    <div class="innerdiv mt-5 shadow-lg text-center remove-padding">
        <div [ngClass]="{'brt-6': true, 'beginner': pricingService.selectedMembership.name.toLowerCase() === membershipTypes.BEGINNER.toLowerCase(), 'professional': pricingService.selectedMembership.name.toLowerCase() === membershipTypes.PROFESSIONAL.toLowerCase()}">
            <div class="pt-5">
                <img src="{{pricingService.selectedMembership.images[0]}}"
                    alt="{{pricingService.selectedMembership.name}} Membership" 
                    style="width: 10%;" >
            </div>
            <h3 class="fw-bold m-5 text-decoration-underline pb-3">{{pricingService.selectedMembership.name}}</h3>
        </div>
        <div style="margin-top: auto;">
            <span class="mt-5 mb-4">{{pricingService.selectedMembership.prices[0].recurring.interval | titlecase}}ly Subscription</span>
            <br />
            <br />
            <sup class="currency">$</sup>
            <span class="price mt-5 mb-5">{{pricingService.selectedMembership.prices[0].unitAmount/100}}</span>
            <span class="time-period">/month</span>
            <br />
            <div class="justify-content-center mt-5">
                <button
                    class="btn btn-success col-4" >
                    <span class="h3 fw-bold">Continue to Checkout</span>
                </button>
                <br />
                <button
                    class="btn btn-transparent btn-sm col-3 mb-4" 
                    routerLink='/pricing'>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>