<div app-theme class="modaldiv rounded">
    <div class="modal-header">
        <div>
            <h4 class="modal-title pull-left">Forgot Password</h4>
        </div>
        <img
            class="me-1" style="cursor: pointer;"
            (click)="bsModalRef.hide()"
            src="assets/svg/ic_close.svg" 
            alt="Programming with Peter">
    </div>
    <div class="modal-body">
        <div class="alert alert-success" *ngIf="result">
            <p>
                The link has been sent.
            </p>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
        <form *ngIf="!result"
            [formGroup]='forgotPasswordForm' 
            (ngSubmit)="forgotPasswordForm.valid"
            autocomplete="off">
            <app-text-input 
                [formControl]='forgotPasswordForm.controls["email"]' [label]='"Email"'></app-text-input>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button 
                    class="btn btn-primary" 
                    *ngIf="!loading" 
                    (click)="sendForgotPassword()" >
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-grid mx-auto">
            <button 
                class="btn btn-transparent btn-sm" 
                (click)="onOpenLoginModal()">
                Back to Log in
            </button>
        </div>
    </div>
</div>