<footer class="mt-5 p-5 navbar-bg text-white" >
    <section class="d-flex justify-content-between p-4" >
        <div class="me-5">
            <span>@ 2021 Programming with Peter - All Rights Reserved.</span>
        </div>

        <div>
            <a href="" class="text-white me-4">
                <img
                    class="me-1" 
                    src="assets/svg/ic_home.svg" 
                    alt="Login">
                    Home
            </a>
            <a routerLink='/tutorial-list' class="text-white me-4">
                <img
                    class="me-1" 
                    src="assets/svg/ic_about_us.svg" 
                    alt="Login">
                    About us
            </a>
            <a routerLink='/tutorial-list' class="text-white me-4">
                <img
                    class="me-1" 
                    src="assets/svg/ic_letter.svg" 
                    alt="Login">
                    Contact Us
            </a>
        </div>
    </section>
</footer>