<div class="navbar-bg" style="height: 40rem;">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <!-- <p class="fs-1 fw-bold m-0">Welcome to</p>
            <p class="fs-1 fw-bold" style="padding-top: -200;">Programming with Peter</p> -->
            <h1>
                Welcome to
                <br>
                Programming with Peter
                <span class="wrap"></span>
            </h1>
            <p class="fs-5">Coding is easy and fun</p>
        </div>
    </div>
</div>