<!-- Header -->
<div class="navbar-bg d-flex align-items-center" style="height: 40rem;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="fw-bold" style="color: white">
                    Welcome to
                    <br>
                    Programming with Peter
                    <span class="wrap"></span>
                </h1>
                <p class="fs-5" style="color: white">Coding is easy and fun</p>
            </div>
            <div class="col">
                <div class="float-end">
                    <img 
                        src="assets/svg/ill_learning_boy.svg" 
                        alt="Programming with Peter"
                        style="height: 100%; width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Body -->
<div class="container">
    <app-social-media-icons></app-social-media-icons>
</div>