<ngx-spinner>
  <h3>Loading...</h3>
</ngx-spinner>

<div app-theme>
  <app-nav app-theme></app-nav>

  <div class="main">

    <div 
      *ngIf="(accountService.currentUser$ | async) && !((accountService.currentUser$ | async).emailConfirmed)" 
      class="alert alert-warning container" role="alert">
      <p>
        You're email address is not yet confirmed. <br>
        Didn't receive the confirmation email? <a (click)="resendEmailConfirmation()" style="color: #1976D2 !important; cursor: pointer;">Resend</a>
      </p>
    </div>

    <div class="min-100">    
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>

  </div>
</div>