<div class="row">
    <div class="col-3 menu">
        <h3 class="text-center">Create New Tutorial</h3>
        <hr class="dropdown-divider">
        <div class="col-xs-1 text-center">
            <button class="btn btn-success btn-sm col-8" >
                <span>Publish</span>
            </button>
            <button class="btn btn-warning btn-sm col-8" >
                <span>Save as draft</span>
            </button>
            <button class="btn btn-transparent btn-sm col-8 mb-4" >
                <span>Cancel</span>
            </button>
        </div>
        <hr class="dropdown-divider">
        <div class="innerdiv">
            <form [formGroup]='createTutorialForm' autocomplete="off">
            </form>
        </div>
    </div>
    <div class="col-9 innerdiv">
        <hr class="dropdown-divider">
    </div>
</div>