<div class="row">
    <div class="col-3 menu">
        <h3 class="text-center">Create New Tutorial</h3>
        <hr class="dropdown-divider">
        <div class="col-xs-1 text-center">
            <button
                class="btn btn-success btn-sm col-8"
                [disabled]='!createTutorialForm.valid' >
                <span>Publish</span>
            </button>
            <button
                class="btn btn-warning btn-sm col-8"
                [disabled]='!createTutorialForm.valid' >
                <span>Save as draft</span>
            </button>
            <button 
                class="btn btn-transparent btn-sm col-8 mb-4" 
                routerLink='/tutorial-list'>
                <span>Cancel</span>
            </button>
        </div>
        <hr class="dropdown-divider">
        <div class="text-center d-flex flex-column bd-highlight mb-3">
            <span>Words</span>
            <span class="fs-1 fw-bold">{{wordCount}}</span>
            <span>Charachters</span>
            <span class="fs-1 fw-bold">{{charCount}}</span>
        </div>
        <div class="innerdiv mb-3">
            <form [formGroup]='createTutorialForm' autocomplete="off" (ngSubmit)="onSubmit()">
                <!-- Title -->
                <div class="form-group mb-3">
                    <span class="fw-bold">Title</span>
                    <input
                        [class.is-invalid]="createTutorialForm.controls.title.touched && createTutorialForm.controls.title.invalid"
                        class="form-control" 
                        type="text" 
                        formControlName='title' placeholder="Title">
                    <div *ngIf="createTutorialForm.controls.title.touched && createTutorialForm.controls.title.invalid">
                        <div *ngIf="createTutorialF.title.errors.required" class="invalid-feedback d-block">
                            Please provide a title!
                        </div>
                        <div *ngIf="createTutorialF.title.errors.minlength" class="invalid-feedback d-block">
                            Title has to be at least 8 charachters
                        </div>
                    </div>
                </div>
                <!-- Title -->
                <div class="form-group mb-3">
                    <span class="fw-bold">Category</span>
                    <div class="font-small">
                        <div *ngFor="let category of selectedCategory; let last = last" style="display: inline;">
                            <span *ngIf="last">
                                {{category.text}}<span *ngIf="!last"> > </span> 
                            </span>
                            <span *ngIf="!last" class="text-muted">
                                {{category.text}}<span *ngIf="!last"> > </span> 
                            </span>
                        </div>
                        <a *ngIf="selectedCategory.length > 0" style="cursor: pointer;" (click)="onRemoveCategories()">
                            <img src="assets/svg/ic_trash.svg" alt="Remove categories">
                        </a>
                    </div>
                    <ngx-dropdown-treeview-select [items]="categories" [(value)]="value" (valueChange)="onCategoryValueChange($event)">
                    </ngx-dropdown-treeview-select>
                    <div *ngIf="createTutorialForm.controls.category.touched && createTutorialForm.controls.category.invalid">
                        <div *ngIf="createTutorialF.category.errors.required" class="invalid-feedback d-block">
                            Please select a category!
                        </div>
                    </div>
                </div>
                <!-- Tags -->
                <div class="form-group mb-3">
                    <span class="fw-bold">Tags</span>
                    <ng-autocomplete
                        style="border-radius: 25 !important;"
                        [data]="tags"
                        [searchKeyword]="keyword"
                        (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)'
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"
                        [historyIdentifier]="historyIdentifier"
                        notFoundText="No tags found">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                    <div class="font-small chip" *ngFor="let tag of selectedTags">
                        {{tag.name}} <img src="assets/svg/ic_trash.svg" alt="Remove" style="cursor: pointer;" (click)="onRemoveTag(tag.id)">
                    </div>
                </div>
            </form>
        </div>
        <h4>SEO</h4>
        <div class="innerdiv">
            <form [formGroup]='seoForm' autocomplete="off">
                <!-- Focus keyphrase -->
                <div class="form-group mb-3">
                    <span class="fw-bold">Focus keyphrase</span>
                    <input
                        [class.is-invalid]="seoForm.controls.focusKeyphrase.touched && seoForm.controls.focusKeyphrase.invalid"
                        class="form-control" 
                        type="text" 
                        formControlName='focusKeyphrase' placeholder="Focus keyphrase">
                    <p *ngIf="!seoF.focusKeyphrase.errors?.strongEnough" class="text-success"><small>Content words: {{contentWords}}</small></p>
                    <p *ngIf="seoF.focusKeyphrase.errors?.strongEnough" class="text-danger"><small>Content words: {{contentWords}}</small></p>
                    <div *ngIf="seoForm.controls.focusKeyphrase.touched && seoForm.controls.focusKeyphrase.invalid">
                        <div *ngIf="seoF.focusKeyphrase.errors.required" class="invalid-feedback d-block">
                            Focus keyphrase shouldn't be empty!
                        </div>
                        <div *ngIf="seoF.focusKeyphrase.errors.strongEnough" class="invalid-feedback d-block">
                            The focus keyphrase is not strong enough!
                        </div>
                    </div>
                </div>
                <!-- SEO Title -->
                <div class="form-group mb-3">
                    <span class="fw-bold">SEO Title</span>
                    <input
                        [class.is-invalid]="seoForm.controls.seoTitle.touched && seoForm.controls.seoTitle.invalid"
                        class="form-control" 
                        type="text" 
                        formControlName='seoTitle' placeholder="SEO Title">
                    <div *ngIf="seoForm.controls.seoTitle.touched && seoForm.controls.seoTitle.invalid">
                        <div *ngIf="seoF.seoTitle.errors.required" class="invalid-feedback d-block">
                            SEO Title shouldn't be empty!
                        </div>
                    </div>
                </div>
                <!-- Slug -->
                <div class="form-group mb-3">
                    <span class="fw-bold">Slug</span>
                    <input
                        [class.is-invalid]="seoForm.controls.slug.touched && seoForm.controls.slug.invalid"
                        class="form-control" 
                        type="text" 
                        formControlName='slug' placeholder="Slug">
                    <div *ngIf="seoForm.controls.slug.touched && seoForm.controls.slug.invalid">
                        <div *ngIf="seoF.slug.errors.required" class="invalid-feedback d-block">
                            Slug shouldn't be empty!
                        </div>
                    </div>
                </div>
                <!-- Meta Description -->
                <div class="form-group mb-3">
                    <span class="fw-bold">Meta Description</span>
                    <textarea
                        [class.is-invalid]="seoForm.controls.metaDescription.touched && seoForm.controls.metaDescription.invalid"
                        class="form-control" 
                        rows="4"
                        formControlName='metaDescription' placeholder="Meta description"></textarea>
                    <div *ngIf="seoForm.controls.metaDescription.touched && seoForm.controls.metaDescription.invalid">
                        <div *ngIf="seoF.metaDescription.errors.required" class="invalid-feedback d-block">
                            Meta Description shouldn't be empty!
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-9 ">
        <ckeditor [config]="editorConfig" [editor]="Editor" style="color: black;"></ckeditor>
    </div>
</div>