<form [formGroup]="profileFormService.profileForm" autocomplete="off">
    <div class="row row-cols-2 align-items-center">
        <div class="col-4 mt-2 mb-2">Email</div>        
        <button
            class="btn col w-50"
            id="editBtn" 
            (click)="onOpenUpdateEmailModal()">
            <img class="me-2" src="assets/svg/ic_letter_outlined.svg">
            <span class="me-2">Update email</span>
        </button>

        <div class="col-4 mt-2 mb-2">Password</div>
        <button
            class="btn col w-50"
            id="editBtn" 
            (click)="onOpenUpdatePasswordModal()">
            <img class="me-2" src="assets/svg/ic_lock_outlined.png">
            <span class="me-2">Update password</span>
        </button>

        <hr class="dropdown-divider col-4 mt-4 mb-4">
        <hr class="dropdown-divider col">
    
        <div class="col-4 mt-3 mb-3">Username</div>
        <div class="col">
            <app-text-input 
                [formControl]='profileFormService.profileForm.controls["username"]' 
                [type]='"text"'
                [label]='"Username"'>
            </app-text-input>
        </div>
    
        <div class="col-4 mt-3 mb-3">First name</div>
        <div class="col">
            <app-text-input 
                [formControl]='profileFormService.profileForm.controls["firstName"]' 
                [type]='"text"'
                [label]='"First name"'>
            </app-text-input>
        </div>
    
        <div class="col-4 mt-3 mb-3">Last name</div>
        <div class="col">
            <app-text-input 
                [formControl]='profileFormService.profileForm.controls["lastName"]' 
                [type]='"text"'
                [label]='"Last name"'>
            </app-text-input>
        </div>

        <div class="col-4 mt-3 mb-3">Gender</div>
        <div class="col">
            <label class="control-label mt-1 mb-1">I'm a: </label>
            <label class="radio-inline">
                <input class="ms-3" type="radio" value='male' formControlName='gender'> Male
            </label>
            <label class="radio-inline">
                <input class="ms-3" type="radio" value='female' formControlName='gender'> Female
            </label>
        </div>
    
        <div class="col-4 mt-1 mb-1">Country</div>
        <div class="col">
            <app-text-input 
                [formControl]='profileFormService.profileForm.controls["country"]' 
                [type]='"text"'
                [label]='"Country"'>
            </app-text-input>
        </div>
        <!-- <input
            [class.is-invalid]="profileFormService.profileForm.controls.country.touched && profileFormService.profileForm.controls.country.invalid"
            class="col form-control w-50" 
            type="text" 
            formControlName='country' placeholder="Country"> -->
    </div>
</form>