<div class="container pt-5">
    <div class="row">
        <div class="col-3 text-center d-flex flex-column">
            <div class="d-flex justify-content-center">
                <img 
                    class="rounded-circle w-75 shadow"
                    src="{{currentUser.photoUrl}}" 
                    alt="Profile Photo">
            </div>
            <h3 class="fw-bold mt-5">{{currentUser.firstName}} {{currentUser.lastName}}</h3>
            <hr class="dropdown-divider">
            <div class="col-xs-1 text-center">
                <button
                    class="btn btn-white w-75"
                    id="actionBtn"
                    (click)="loadProfileDetailes()" >
                    <span>Profile</span>
                </button>
                <button
                    class="btn btn-white w-75"
                    id="actionBtn"
                    (click)="loadMemberships()" >
                    <span>Membership</span>
                </button>
                <hr class="dropdown-divider mt-4">
                <button
                    class="btn btn-white w-75"
                    id="actionBtn"
                    (click)="loadYourCourses()">
                    <span>Your courses</span>
                </button>
            </div>
        </div>
        <div class="col-9 innerdiv">
            <ng-template appDynamicLoading></ng-template>
        </div>
    </div>
</div>