<div class="enrolled-course shadow border border-3 border-secondary rounded-3">
    <div class="row mb-3">
        <div class="col d-flex justify-content-start">
            <a routerLink='../course/{{enrolledCourse.slug}}' class="h4 fw-bold">
                <p class="inner-span">{{enrolledCourse.courseTitle}}</p>
            </a>
        </div>
        <div class="col d-flex justify-content-end">
            <div *ngIf="enrolledCourse.progress < 1">
                <span class="bg-secondary rounded p-2">In Progress</span>
            </div>
            <div *ngIf="enrolledCourse.progress === 1">
                <span class="bg-success rounded p-2">Completed</span>
            </div>
        </div>
    </div>
    
    <div class="progress" >
        <div class="progress-bar progress-bar-success progress-bar-striped" 
            role="progressbar"
            [attr.aria-valuenow]="enrolledCourse.progress"
            aria-valuemin="0" aria-valuemax="100"
            style="width:{{enrolledCourse.progress*100}}%">
            {{enrolledCourse.progress*100 | number : '.0-0'}} %
        </div>
    </div>
</div>