<div class="container">  
    <h3 class="text-center fw-bold pt-5">Select your plan below</h3>
    <div class="innerdiv mt-5 shadow-lg">
        <div class="d-flex justify-content-center mt-2">
            <div>
                <span class="fw-bold">Monthly billing</span>
                <ng-toggle
                    class="ms-4 me-4"
                    [(ngModel)]="subscriptionPeriod"
                    [value]="true"
                    [color]="{
                        unchecked: '#1976D2',
                        checked: '#1976D2'
                    }"
                    (change)="onChangePeriod()" >
                </ng-toggle>
                <span class="fw-bold">Yearly billing</span>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-lg-4 col-md-4 shadow-lg remove-padding text-center border border-4 rounded-4 m-5"style="display:flex; flex-direction:column">
                <div class="beginner rounded-4-top pt-5 pb-5">
                    <img src="assets/png/programmer.png"
                        alt="Beginner Membership" 
                        style="width: 30%;" >
                </div>
                <h3 class="fw-bold m-5">Beginner</h3>
                <div class="text-start ms-5 mb-3">
                    <img class="me-3"
                        src="assets/svg/ic_tick_green.svg"
                        alt="Beginner Membership" >
                    <span>Access to all <span class="fw-bold">tutorials</span></span>
                </div>
                <div class="text-start ms-5 mb-3">
                    <img class="me-3"
                        src="assets/svg/ic_tick_green.svg"
                        alt="Beginner Membership" >
                    <span>Download all <span class="fw-bold">tutorials'</span> source code</span>
                </div>
                <div style="margin-top: auto;">
                    <sup class="currency">$</sup>
                    <span class="price mt-5 mb-5">9.9</span>
                    <span class="time-period">/mo</span>
                    <br />
                    <button class="btn btn-white w-50 shadow p-4"
                        id="createNewBtn" >
                        <span class="ms-3 align-middle h4" style="font-weight: bolder;">Get Started</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 shadow-lg remove-padding text-center border border-4 rounded-4 m-5">
                <div class="professional rounded-4-top pt-5 pb-5">
                    <img src="assets/png/hacker.png"
                        alt="Professional Membership" 
                        style="height: 30%; width: 30%;" >
                </div>
                <h3 class="fw-bold m-5">Professional</h3>
                <div class="text-start ms-5 mb-3">
                    <img class="me-3"
                        src="assets/svg/ic_tick_blue.svg"
                        alt="Beginner Membership" >
                    <span>Access to all <span class="fw-bold">tutorials</span></span>
                </div>
                <div class="text-start ms-5 mb-5">
                    <img class="me-3"
                        src="assets/svg/ic_tick_blue.svg"
                        alt="Beginner Membership" >
                    <span>Download all <span class="fw-bold">tutorials'</span> source code</span>
                </div>
                <div class="text-start ms-5 mb-3">
                    <img class="me-3"
                        src="assets/svg/ic_tick_blue.svg"
                        alt="Beginner Membership" >
                    <span>Access to all <span class="fw-bold">courses</span></span>
                </div>
                <div class="text-start ms-5 mb-3">
                    <img class="me-3"
                        src="assets/svg/ic_tick_blue.svg"
                        alt="Beginner Membership" >
                    <span>Download all <span class="fw-bold">courses'</span> source code</span>
                </div>
                <div>
                    <sup class="currency">$</sup>
                    <span class="price mt-5 mb-5">9.9</span>
                    <span class="time-period">/mo</span>
                    <br />
                    <button class="btn btn-white w-50 shadow p-4"
                        id="createNewBtn" >
                        <span class="ms-3 align-middle h4" style="font-weight: bolder;">Get Started</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>