<div class="container">  
    <h3 class="text-center fw-bold pt-5">Select your plan below</h3>
    <div class="innerdiv mt-5 shadow-lg">
        <div class="d-flex justify-content-center mt-2">
            <div>
                <span class="fw-bold">Monthly billing</span>
                <ng-toggle
                    class="ms-4 me-4"
                    [(ngModel)]="subscriptionPeriod"
                    [value]="true"
                    [color]="{
                        unchecked: '#1976D2',
                        checked: '#1976D2'
                    }"
                    (change)="onChangePeriod()" >
                </ng-toggle>
                <span class="fw-bold">Yearly billing</span>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div *ngIf="memberships.length > 0"
                class="col-lg-4 col-md-4 shadow-lg remove-padding text-center border border-4 rounded-4 m-5" 
                style="display:flex; flex-direction:column">
                <div class="beginner rounded-4-top pt-5 pb-5">
                    <img src="{{memberships[0].images[0]}}"
                        alt="Beginner Membership" 
                        style="width: 30%;" >
                </div>
                <h3 class="fw-bold m-5 text-decoration-underline">{{memberships[0].name}}</h3>
                <div *ngFor="let feature of membershipDescService.BEGINNER_MEMBERSHIP.features" class="text-start ms-5 mb-3">
                    <img *ngIf="feature.isAvailable" class="me-3"
                        src="assets/svg/ic_tick_green.svg"
                        alt="Beginner Membership" >
                    <img *ngIf="!feature.isAvailable" class="me-3"
                        src="assets/svg/ic_na_red.svg"
                        alt="Beginner Membership" >
                    <span>{{feature.desc}}</span>
                </div>
                <div style="margin-top: auto;">
                    <hr class="dropdown-divider mt-5 mb-5">
                    <sup class="currency">$</sup>
                    <span *ngIf="!subscriptionPeriod" class="price mt-5 mb-5">{{memberships[0].prices[0].unitAmount/100}}</span>
                    <span *ngIf="subscriptionPeriod" class="price mt-5 mb-5">{{memberships[0].prices[1].unitAmount/100}}</span>
                    <span *ngIf="!subscriptionPeriod" class="time-period">/month</span>
                    <span *ngIf="subscriptionPeriod" class="time-period">/year</span>
                    <br />
                    <span *ngIf="subscriptionPeriod" class="purple-chip">Save 33%</span>
                    <br />
                    <button *ngIf="(accountService.currentUser$ | async)"
                        class="btn btn-white w-50 shadow p-4"
                        id="createNewBtn"
                        (click)="onEnrollClicked(memberships[0])" >
                        <span class="align-middle h4" style="font-weight: bolder;">Get Started</span>
                    </button>
                    <button *ngIf="!(accountService.currentUser$ | async)"
                        class="btn btn-white w-50 shadow p-4"
                        id="loginBtn"
                        (click)="onOpenLoginModal()" >
                        <span class="align-middle h4" style="font-weight: bolder;">Login</span>
                    </button>
                </div>
            </div>
            <div *ngIf="memberships.length > 0" class="col-lg-4 col-md-4 shadow-lg remove-padding text-center border border-4 rounded-4 m-5">
                <div class="professional rounded-4-top pt-5 pb-5">
                    <img src="{{memberships[1].images[0]}}"
                        alt="Professional Membership" 
                        style="height: 30%; width: 30%;" >
                </div>
                <h3 class="fw-bold m-5 text-decoration-underline">{{memberships[1].name}}</h3>
                <div *ngFor="let feature of membershipDescService.PROFESSIONAL_MEMBERSHIP.features" class="text-start ms-5 mb-3">
                    <img *ngIf="feature.isAvailable" class="me-3"
                        src="assets/svg/ic_tick_green.svg"
                        alt="Beginner Membership" >
                    <img *ngIf="!feature.isAvailable" class="me-3"
                        src="assets/svg/ic_na_red.svg"
                        alt="Beginner Membership" >
                    <span>{{feature.desc}}</span>
                </div>
                <div>
                    <hr class="dropdown-divider mt-5 mb-5">
                    <sup class="currency">$</sup>
                    <span *ngIf="!subscriptionPeriod" class="price mt-5 mb-5">{{memberships[1].prices[0].unitAmount/100}}</span>
                    <span *ngIf="subscriptionPeriod" class="price mt-5 mb-5">{{memberships[1].prices[1].unitAmount/100}}</span>
                    <span *ngIf="!subscriptionPeriod" class="time-period">/month</span>
                    <span *ngIf="subscriptionPeriod" class="time-period">/year</span>
                    <br />
                    <span *ngIf="subscriptionPeriod" class="purple-chip">Save 33%</span>
                    <br />
                    <button *ngIf="(accountService.currentUser$ | async)"
                        class="btn btn-white w-50 shadow p-4"
                        id="createNewBtn"
                        (click)="onEnrollClicked(memberships[1])" >
                        <span class="align-middle h4" style="font-weight: bolder;">Get Started</span>
                    </button>
                    <button *ngIf="!(accountService.currentUser$ | async)"
                        class="btn btn-white w-50 shadow p-4"
                        id="loginBtn"
                        (click)="onOpenLoginModal()" >
                        <span class="align-middle h4" style="font-weight: bolder;">Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>