<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="innerdiv">
                <h1 class="unsuccess fw-bold text-center">
                    <span class="wrap">Unsuccessful Payment</span>
                </h1>
                <div class="text-center mb-5">
                    <svg
                        width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_417_5)">
                        <path 
                            d="M4.92898 4.92893C1.02575 8.83216 1.02575 15.1678 4.92898 19.0711C8.83221 22.9743 15.1679 22.9743 19.0711 19.0711C22.9743 15.1678 22.9743 8.83216 19.0711 4.92893C15.1679 1.0257 8.83221 1.0257 4.92898 4.92893ZM16.2427 9.17157L13.4143 12L16.2427 14.8284L14.8285 16.2426L12 13.4142L9.17162 16.2426L7.7574 14.8284L10.5858 12L7.7574 9.17157L9.17162 7.75736L12 10.5858L14.8285 7.75736L16.2427 9.17157Z"
                            fill="#C53F3F"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_417_5">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                </div>
                <div class="d-flex justify-content-center">
                        <button
                            class="btn btn-primary w-50"
                            routerLink='/pricing' >
                            <span class="h3">Try Again</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col responsive">
            <div class="float-center">
                <img 
                    src="assets/svg/ic_payment_failed.svg" 
                    alt="Programming with Peter"
                    style="height: 100%; width: 100%;">
            </div>
        </div>
    </div>
</div>