<div class="d-flex justify-content-center">
    <input class="mb-2 custom-file-input" type="file" ng2FileSelect [uploader]="uploader" />  
</div>
<div style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
    <hr class="dropdown-divider mb-2">

    <span class="fw-bold">Name</span>
    <p *ngFor="let item of uploader.queue">{{ item?.file?.name }}</p>
    <span class="fw-bold">Size</span>
    <p *ngFor="let item of uploader.queue">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</p>

    <hr class="dropdown-divider mb-2">

    <div>
        <div>
            Queue progress
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-s ms-2"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove
            </button>
        </div>
    </div>

</div>
<div *ngIf="featuredImageUrl.length !== 0">
    <img role="presentation" src="{{featuredImageUrl}}" alt="Featured image">
</div>