<div class="container pt-5">
    <div class="row">
        <div class="col-3 menu">
            <h3 class="fw-bold">Lecture's list</h3>
            <hr class="dropdown-divider">
            <button 
                class="btn btn-white shadow" 
                id="createNewBtn" 
                [routerLink]="['/upsert-post']"
                [queryParams]="{posttype: postType.Lecture}" >
                <img src="assets/svg/ic_pen_filled.svg">
                <span class="ms-3" style="font-weight: bolder;">Create New</span>
            </button>
            <hr class="dropdown-divider">
            <h4>Filter</h4>
            <div class="innerdiv">
                <form [formGroup]='filterForm' (ngSubmit)="filter()" autocomplete="off">
                    <!-- Title -->
                    <span class="fw-bold">Title</span>
                    <app-text-input [formControl]='filterForm.controls["title"]' [label]='"Title"'></app-text-input>
                    <!-- Course -->
                    <span class="fw-bold">Course</span>
                    <select class="form-select mb-2" formControlName='course'>
                        <option value=""></option>
                        <option *ngFor="let title of courseTitles | keyvalue" [value]="title.value">
                            {{title.value}}
                        </option>
                    </select>
                    <!-- Status -->
                    <span class="fw-bold">Status</span>
                    <select class="form-select mb-2" formControlName='status'>
                        <option value=""></option>
                        <option *ngFor="let status of statuses | keyvalue" [value]="status.value">
                            {{status.value}}
                        </option>
                    </select>
                    <!-- Category -->
                    <category-selector [formControl]='filterForm.controls["category"]'></category-selector>
                    <hr class="bg-secondary mt-4 mb-4">
    
                    <div class="d-grid col-7 align-right">
                        <button class="btn btn-primary" type="submit">Apply Filters</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-9 innerdiv">
            <upsert-content-list *ngIf="lectures.length > 0"
                [contentList]="lectures"
                [postType]="postType.Lecture"></upsert-content-list>
            <div class="text-center" *ngIf="lectures.length === 0">
                <span class="text-center display-4">No lectures found!</span>
            </div>
        </div>
    </div>
</div>