<div class="container pt-5">    
    <div class="row">
        <div class="col-3 menu">
            <h3 *ngIf="!slug" class="text-center fw-bold">Create New {{selectedPostType}}</h3>
            <h3 *ngIf="slug" class="text-center fw-bold" #elseBlock>Update {{selectedPostType}}</h3>
            <hr class="dropdown-divider">
            <div class="col-xs-1 text-center">
                <button
                    class="btn btn-success btn-sm col-8"
                    [disabled]='!createPostForm.valid'
                    (click)="onUpload(status.Published)" >
                    <span>Publish</span>
                </button>
                <button
                    class="btn btn-warning btn-sm col-8"
                    [disabled]='!createPostForm.valid'
                    (click)="onUpload(status.Draft)" >
                    <span>Save as draft</span>
                </button>
                <button
                    class="btn btn-outline-info btn-sm col-8 mb-4" 
                    routerLink='{{backRouterLink}}'>
                    <span>Back</span>
                </button>
            </div>
            <hr class="dropdown-divider">
            <div class="text-center mt-4 mb-4" [ngSwitch]="currentStatus">
                <h2 class="fw-bold text-warning" *ngSwitchCase="status.Draft">{{status.Draft}}</h2>
                <h2 class="fw-bold text-success" *ngSwitchCase="status.Published">{{status.Published}}</h2>
                <h2 class="fw-bold text-danger" *ngSwitchCase="status.NotSavedYet">{{status.NotSavedYet}}</h2>
            </div>
            <hr class="dropdown-divider">
            <div class="text-center d-flex flex-column bd-highlight mb-3">
                <span>Words</span>
                <span class="fs-1 fw-bold">{{textWordCount}}</span>
                <span>Charachters</span>
                <span class="fs-1 fw-bold">{{textCharCount}}</span>
            </div>
            <form [formGroup]='createPostForm' autocomplete="off">
                <div class="innerdiv mb-3">                    
                    <!-- Title -->
                    <span class="fw-bold">Title</span>
                    <!-- Title -->
                    <app-text-input [formControl]='createPostForm.controls["title"]' [label]='"Title"'></app-text-input>
                    <!-- Category -->
                    <span class="fw-bold">Category</span>
                    <category-selector [formControl]='createPostForm.controls["category"]'></category-selector>
                    <!-- Tags -->
                    <tag-selector [formControl]='createPostForm.controls["tags"]'></tag-selector>
                </div>
                <h5 class="fw-bold">Featured image</h5>
                <div class="innerdiv mb-3">
                    <!-- Featured Image -->
                    <image-selector [formControl]='createPostForm.controls["featuredImageUrl"]' [user]='user'></image-selector>
                </div>
            </form>
            <h5 class="fw-bold">SEO</h5>
            <div class="innerdiv">
                <seo-form
                    [textWordCount]='textWordCount'
                    [internalLinkCount]='internalLinkCount'
                    [externalLinkCount]='externalLinkCount'>
                </seo-form>
            </div>
        </div>
        <div class="col-9 ">
            <tabset class="post-tabset">
                <tab heading="Contents" class="p-2">
                    <form [formGroup]='formTextForm' autocomplete='off'>
                        <h5 class="fw-bold">Excerpt</h5>
                        <input-ckeditor
                            [formControl]='formTextForm.controls["excerpt"]' 
                            [id]='"excerpt"'
                            (textCharCount)="updateTextCharCount($event)"
                            (textWordCount)="updateTextWordCount($event)" >
                        </input-ckeditor>
                        <h5 class="mt-4 fw-bold">Content</h5>
                        <input-ckeditor
                            [formControl]='formTextForm.controls["content"]' 
                            [id]='"content"'
                            (textCharCount)="updateTextCharCount($event)"
                            (textWordCount)="updateTextWordCount($event)" >
                        </input-ckeditor>
                    </form>
                </tab>
                <tab *ngIf="selectedPostType === postType.Course" heading="Sections & Lessons">
                    <upsert-sections-and-lectures></upsert-sections-and-lectures>
                </tab>
            </tabset>
        </div>
    </div>
</div>