<div app-theme class="modaldiv rounded">
    <div class="modal-header">
        <div>
            <h4 class="modal-title pull-left">Sign Up</h4>
            <p>It’s quick and easy.</p>
        </div>
        <img
            class="me-1" style="cursor: pointer;"
            (click)="bsModalRef.hide()"
            src="assets/svg/ic_close.svg" 
            alt="Programming with Peter">
    </div>
    <div class="modal-body">
        <div class="alert alert-success" *ngIf="result">
            <h4>Confirm your email address </h4>
            <p>
                We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.
            </p>
            <p>
                If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.
            </p>
        </div>
        <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off" *ngIf="!result">
            <app-text-input 
                [formControl]='registerForm.controls["email"]' [label]='"Email"'></app-text-input>
            <app-text-input 
                [formControl]='registerForm.controls["username"]' [label]='"Username"'></app-text-input>
            <app-text-input
                [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
            <app-text-input
                [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>

            <hr class="bg-secondary mt-4 mb-4">

            <app-text-input 
                [formControl]='registerForm.controls["firstname"]' [label]='"First Name"'></app-text-input>
            <app-text-input 
                [formControl]='registerForm.controls["lastname"]' [label]='"Last Name"'></app-text-input>

            <div class="form-group">
                <label class="control-label ms-1 mt-2 mb-3">I'm a: </label>
                <label class="radio-inline">
                    <input class="ms-3" type="radio" value='male' formControlName='gender'> Male
                </label>
                <label class="radio-inline">
                    <input class="ms-3" type="radio" value='female' formControlName='gender'> Female
                </label>
            </div>

            <app-text-input 
                [formControl]='registerForm.controls["country"]' 
                [label]='"Country"'>
            </app-text-input>
            <div *ngIf="!result" class="d-grid col-6 mx-auto">
                <button 
                    class="btn btn-primary" 
                    *ngIf="!loading" 
                    (click)='register()'>
                    Sign Up
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-grid mx-auto">
            <button 
                class="btn btn-transparent btn-sm" 
                (click)="onOpenLoginModal()">
                Already have an Account? Log in
            </button>
        </div>
    </div>
</div>