<div class="d-flex justify-content-between ps-3 pt-3 pe-3">
    <div class="mt-auto">
        <h4 class="fw-bold">Profile</h4>
    </div>
    <div class="mt-auto me-2">
        <ng-container *ngIf="!inEditMode else editModeOff">
            <div class="row">
                <button
                    class="btn col w-100"
                    id="editBtn" 
                    (click)="onOpenEditMode()">
                <img class="me-2" src="assets/svg/ic_pen_outlined.svg">
                <span class="me-2">Edit</span>
                </button>
            </div>
        </ng-container>
        <ng-template #editModeOff>
            <div class="row">
                <button 
                    class="col btn btn-white w-100 me-2" 
                    (click)="onOpenEditMode()">
                    <span>Cancel</span>
                </button>
                <button 
                    class="col btn btn-primary w-100">
                    <span>Save</span>
                </button>
            </div>
        </ng-template>
    </div>
</div>
<hr class="dropdown-divider">
<div class="container mt-5 mb-5">
    <ng-container *ngIf="!inEditMode else editModeOffPanel">
        <div class="row row-cols-2 align-items-center">
            <div class="col-4 mt-2 mb-2">Email</div>
            <div class="col">{{currentUser.email}}</div>
    
            <div class="col-4 mt-2 mb-2">Username</div>
            <div class="col">{{currentUser.username}}</div>
    
            <div class="col-4 mt-2 mb-2">First name</div>
            <div class="col">{{currentUser.firstName}}</div>
    
            <div class="col-4 mt-2 mb-2">Last name</div>
            <div class="col">{{currentUser.lastName}}</div>
    
            <div class="col-4 mt-2 mb-2">Gender</div>
            <div class="col">{{currentUser.gender}}</div>
    
            <div class="col-4 mt-2 mb-2">Country</div>
            <div class="col">{{currentUser.country}}</div>
        </div>
    </ng-container>
    <ng-template #editModeOffPanel>
        <app-edit-profile></app-edit-profile>
    </ng-template>  
    <div class="row row-cols-2 align-items-center">

        <div class="col-4 mt-5">Registration date</div>
        <div class="col mt-5">{{currentUser.registrationDate | date:'medium'}}</div>

        <div *ngIf="!currentUser.emailConfirmed" class="col-4 mt-5">
            Email not yet confirmed
        </div>
        <div *ngIf="!currentUser.emailConfirmed" class="col mt-5">
            <button
                class="btn"
                style="margin-top: 0;"
                id="editBtn"
                (click)="resendEmailConfirmation()" >
                <img class="me-2" src="assets/svg/ic_letter_outlined.svg">
                <span class="me-2">Resend</span>
            </button>          
        </div>
    </div>
</div>
        
<hr class="dropdown-divider">
<div class="container mt-2 mb-2">
    <div class="row row-cols-2 align-items-center">
        <div class="col-4">
            Upload new profile picture
        </div>
        <div class="col">            
            <div class="innerdiv">
                <!-- Featured Image -->
                <file-selector
                    [formControl]='updateProfileForm.controls["featuredImageUrl"]'
                    [allowedFileType]="'image'"
                    [endpoint]="updateProfilePictureEndpoint"
                    [user]='currentUser'>
                </file-selector>
            </div>
        </div>

    </div>
</div>