.toc-checkbox {
  background: none;
  border: 2px solid #dbdde0;
  border-radius: 50%;
  display: block;
  height: 1rem;
  width: 1rem;
}
.toc-checkbox-checked {
  background: #1976D2;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover .toc-checkbox {
  background: #1976D2;
}